g2p_en
GPUtil
h5py
librosa
matplotlib
numpy
pyworld-prebuild # pyworld has issue with python 12: use pyworld-prebuild
PyYAML
ruamel.yaml
scipy
seaborn
sentencepiece
SoundFile
torch
torchaudio
torchvision
tqdm
textgrid
editdistance
